<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.powernode.mybatis.mapper.CarMapper">
    <delete id="deleteBatch">
        delete from t_car where id in(${ids})
    </delete>
    <select id="selectAll" resultType="com.powernode.mybatis.pojo.Car">
        select * from t_car
    </select>
    <select id="selectByCarType" resultType="com.powernode.mybatis.pojo.Car">
        select * from t_car where car_type=#{car_type}
    </select>
    <select id="selectByCar" resultType="com.powernode.mybatis.pojo.Car">
        select * from t_car where brand like concat('%',#{brand},'%')
    </select>
</mapper>