<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mybatis.mapper.StudentMapper">

    <select id="selectById" resultType="Student">
        select *
        from t_student
        where id = #{id}
    </select>
    <select id="selectByName" resultType="Student">
        select *
        from t_student
        where name like concat('%', #{name}, '%')
    </select>
    <select id="selectAllRetMap" resultType="Map">
        select *
        from t_student
    </select>
    <select id="selectCount" resultType="long">
        select count(*)
        from t_student
    </select>
</mapper>